// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension



&adc {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    channel@0{
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN0>; /* P0.02 for nRF52xx, P0.04 for nRF53xx */
		zephyr,resolution = <12>;
    };
    channel@1{
        reg = <1>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN1>; /* P0.02 for nRF52xx, P0.04 for nRF53xx */
		zephyr,resolution = <12>;

    };
};




/ {
    zephyr,user {
        io-channels = <&emul_adc 0>;
    };
    aliases {
        led-device-status = &led0;
        led-adv-status = &led1;
    };
    emul_adc: adc-emul {
        compatible = "zephyr,adc-emul";
        nchannels = <1>; /* Define 2 channels */
        #io-channel-cells = <1>;
        status = "okay";
        /* Define reference voltages (required for the emulator logic) */
        ref-internal-mv = <3300>; 
        #address-cells = <1>;
        #size-cells = <0>;
        
        channel@0{
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN0>; /* P0.02 for nRF52xx, P0.04 for nRF53xx */
		zephyr,resolution = <12>;

        };
    };
};

&led0 {
    gpios = <&gpio0 28 1>;
};
&uart1 {
    status = "disabled";
};


&qspi {
    status = "disabled";
};


&pwm0 {
    status = "disabled";
};


// Other unused peripherals by me

&spi4 {
    status = "disabled";
};
&i2c1 {
    status = "disabled";
};


&uart2 {
    status = "okay";
    current-speed = <115200>;
    parity = "none";    
    stop-bits = "1";
    data-bits = <8>;
    pinctrl-0 = <&uart2_default>;
    pinctrl-1 = <&uart2_sleep>;
    pinctrl-names = "default", "sleep";
};

&pinctrl {
    uart2_default: uart2_default {
        group1 {
            psels = <NRF_PSEL(UART_TX, 0, 12)>, <NRF_PSEL(UART_RX, 0, 13)>;
        };
    };

    uart2_sleep: uart2_sleep {
        group1 {
            psels = <NRF_PSEL(UART_TX, 0, 12)>;
        };
    };
};
